<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <title>Data Beer Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/d3Style.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
​
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <!-- Main reference -->
        <a href="#" class="navbar-brand">Data Beer Lab</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Select the items to colllapse-->
        <div class="navbar-collapse collapse " id="navbarResponsive" style="">
          <!-- Sub-Navigation bar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav item Comparison -->
            <li class="nav-item">
              <a class="nav-link" href="apa">Beer data</a>
            </li>
            <!-- Nav item Data -->
            <li class="nav-item">
              <a class="nav-link" href="geomap">Beer machine Learning</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
​
    <div class="row" style="margin-top: 6rem;">
    </div>
​
    <div class="container">
      <div class="row">
        <h2>Welcome to Beer Review Predictor: </h2>
      </div>
      <div class="row">
        <p>Use the slide bars to select the parameters to evaluate your beer review prediction.</p>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading"></div>
              <div class="panel-body">
                <h4>Select the user:</h4>
                <div id="my_container"></div>
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading"></div>
              <div class="panel-body">
                <h4>Beer Style Filter</h4>
                <select id="styleFilFormat" class="custom-select" onchange="getStyleData(this.value)">
                    <option value="gteq">Greater than or equal</option>
                    <option value="lteq">Lower than or equal</option>
                </select>
              </div>
            </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3rem;">
        <div data-aos="fade-up" data-aos-duration="1000" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">IBU: <span id="ibu"></span> </div>
            <div class="card-body">
              <input type="range" step="0.5" type="range" min="12" max="82.5" value="12" class="slider seek" id="myIBURange">
            </div>
          </div>
        </div>
        <div data-aos="fade-down" data-aos-duration="1000" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">SRM: <span id="srm"></span> </div>
            <div class="card-body">
              <input type="range" step="1" type="range" min="3" max="40" value="3" class="slider seek" id="mySRMRange">
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <h4>Review predicted: <span id="prediction"></span> </h4>
      </div>
      <!-- Row for the beer styles -->
      <div class="row" style="margin-top: 3rem;">
        <!-- Beer table-->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div id="table-area" class="">
            <table id="beer-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Style Name</th>
                  <th class="table-head">ibu_Min</th>
                  <th class="table-head">srm_Min</th>
                  <th class="table-head">abv_Min</th>
                  <th class="table-head">og_Min</th>
                  <th class="table-head">fg_Min</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- End of main data container -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript" src="../static/js/beer_models.js"></script>
    <script type="text/javascript" src="../static/js/beer_styles.js"></script>
    <script type="text/javascript" src="../static/js/beer_ai_layer.js"></script>
    <!-- <script type="text/javascript" src="../static/js/beer_style_app.js"></script> -->
</body>
</html>
