<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <title>Data Beer Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/d3Style.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
​
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <!-- Main reference -->
        <a href="/" class="navbar-brand">Data Beer Lab</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Select the items to colllapse-->
        <div class="navbar-collapse collapse " id="navbarResponsive" style="">
          <!-- Sub-Navigation bar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav item Data -->
            <li class="nav-item">
              <a class="nav-link" href="beerai">Beer machine Learning</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
​
    <div class="row" style="margin-top: 6rem;">
    </div>
​
    <div class="container">
      <!--Welcome setion-->
      <div class="row">
        <h3>Welcome to Data Beer Lab: </h3>
      </div>
      <div class="row">
        <p>This site provides machine learning models per users according recorded reviews. </p>
      </div>
      <!--Data links-->
      <div class="row">
        <ul>
          <li>To know more about the beer data analysys use the link sin the main menu</li>
          <li>To know more about beer basic characteristics, scroll down</li>
        </ul>
      </div>
​
      <!-- **********************  Card entry row ********************** -->
      <div class="row" style="margin-top: 2rem;">
        <!-- Card entry-->
        <div data-aos="fade-up" data-aos-duration="1000" class="col-lg-12 col-md-12 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Alcohol by volume (ABV)</div>
            <div class="card-body">
              <p class="card-text">ABV stands for Alcohol by volume, unlike other types of alcohol beer is not measured by proof. The ABV tells the consumer of the beverage what percentage of the beer is actually alcohol. Brewers do this by taking samples of the beer as it ferments to understand how much sugar the yeast is converting into alcohol. This enables the brewers to engage in tweaking the beer to achieve the exact level and percentage of alcohol they want.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->
      <!-- **********************  Card entry row ********************** -->
​      <div class="row" style="margin-top: 2rem;">
        <!-- Card entry-->
        <div class="col-lg-6 col-md-6 col-sm-12"></div>
        <!-- Card entry-->
        <div data-aos="fade-down" data-aos-duration="1000" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">International Bitterness Units (IBU)</div>
            <div class="card-body">
              <p class="card-text">IBU stands for International Bitterness Units and is rated on a scale of 0 to 100. Drinkers perceive the bitterness in their drink as the difference between the amount of hops and malts in the finished beverage. The extremely hoppy IPAs can reach into the 70s .
              The higher the number the bitter the beer. </p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->
      <!-- ********************** Card entry row ********************** -->
      <div class="row" style="margin-top: 2rem;">
        <!-- Card entry-->
        <div data-aos="flip-right" data-aos-duration="1000" class="col-lg-12 col-md-12 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Standard Reference Method (SRM)</div>
            <div class="card-body">
              <p class="card-text">SRM stands for the Standard Reference Method. You might be thinking what is SRM, but it is relatively simple, it the color of the beer in a drinker’s glass! The higher the number of SRM, the darker the beer is, the lower the number, the lighter the beer is. Even if SRMs of two separate beers are similar and the colors are the same, drinkers beware, because this does not mean that they have the same or equal flavors.</p>
            </div>
          </div>
        </div>
        <!-- Card entry-->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12"></div> -->
      </div> <!-- end of entry row-->
      <!-- ********************** Card entry row ********************** -->
      <div class="row" style="margin-top: 2rem;">
        <!-- Card entry-->
        <div data-aos="fade-down-left" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Original Gravity (OG)</div>
            <div class="card-body">
              <p class="card-text">OG stands for Original Gravity. Original Gravity is a measure of both the fermentable and un-fermentable substances in a beer before fermentation. Many of substances are the sugars that end up being turned into alcohol while being fermented. This gives the brewers a high level view of actually how much alcohol might be in the final product. The brewers then use Original Gravity and Final Gravity to determine the ABV.</p>
            </div>
          </div>
        </div>
        <!-- Card entry-->
        <div class="col-lg-6 col-md-6 col-sm-12"></div>
      </div> <!-- end of entry row-->
      <!-- ********************** Card entry row **********************-->
      <div class="row" style="margin-top: 2rem;">
        <!-- Card entry-->
        <div data-aos="flip-left" data-aos-duration="1000" class="col-lg-12 col-md-12 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Final Gravity (FG) </div>
            <div class="card-body">
              <p class="card-text">FG stands for Final Gravity. Final Gravity is used in conjunction with Original Gravity to mathematically determine the ABV of a beer. Final Gravity is determined after the fermentation process and is useful to understand the measures of the unfermented substances left in the beer.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->
​
    </div><!-- End of main data container -->
​
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
​
</html>
