<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Data Beer Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/d3Style.css') }}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <!-- Main reference -->
        <a href="#" class="navbar-brand">Data Beer Lab</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Select the items to colllapse-->
        <div class="navbar-collapse collapse " id="navbarResponsive" style="">
          <!-- Sub-Navigation bar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav item Comparison -->
            <li class="nav-item">
              <a class="nav-link" href="apa">Beer data</a>
            </li>
            <!-- Nav item Data -->
            <li class="nav-item">
              <a class="nav-link" href="geomap">Beer machine Learning</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row" style="margin-top: 6rem;">
    </div>

    <div class="container">
      <!--Welcome setion-->
      <div class="row">
        <h3>Welcome to Data Beer Lab: </h3>
        <p>This site provides information about data analysis about beer characteristics and their relation to multiple beer reviews. </p>
      </div>
      <!--Data links-->
      <div class="row" style="margin-top: 3rem;">
        <h5>To know more about the beer data, use the following links</h5>
      </div>
      <!--Beer characteristics-->
      <div class="row" style="margin-top: 3rem;">
        <h5>To know more about beer basic characteristics, scroll down</h5>
      </div>

      <!-- **********************  Card entry row ********************** -->
      <div class="row" style="margin-top: 3rem;">
        <!-- Card entry-->
        <div data-aos="fade-up" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Bitterness Units scale</div>
            <div class="card-body">
              <h4 class="card-title">IBU</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Card entry-->
        <div data-aos="fade-down" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Alcohol by volume</div>
            <div class="card-body">
              <h4 class="card-title">ABV</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->

      <!-- ********************** Card entry row ********************** -->
      <div class="row" style="margin-top: 3rem;">
        <!-- Card entry-->
        <div data-aos="fade-down-right" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Bitterness Units scale</div>
            <div class="card-body">
              <h4 class="card-title">IBU</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Card entry-->
        <div data-aos="fade-down-left" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Alcohol by volume</div>
            <div class="card-body">
              <h4 class="card-title">ABV</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->

      <!-- ********************** Card entry row **********************-->
      <div class="row" style="margin-top: 3rem;">
        <!-- Card entry-->
        <div data-aos="flip-left" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Bitterness Units scale</div>
            <div class="card-body">
              <h4 class="card-title">IBU</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <!-- Card entry-->
        <div data-aos="flip-right" class="col-lg-6 col-md-6 col-sm-12">
          <div class="card border-warning mb-3">
            <div class="card-header">Alcohol by volume</div>
            <div class="card-body">
              <h4 class="card-title">ABV</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div> <!-- end of entry row-->

    </div><!-- End of main data container -->

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>
